<style type="text/css">
  .container .user, .container .menu {
    display: none
  }
</style>
<h2>Rubeque is down for maintenance</h2>
<p>We apologize for any inconvenience.  Please check back later. Thank you!</p>